<div class="container">
  <h2 mat-dialog-title>Informações do usuario</h2>
  <div class="row">
    <mat-form-field class="inputForm">
      <input matInput placeholder="Nome" [formControl]="nome" required>
    </mat-form-field>
    <mat-form-field class="inputForm">
      <input matInput placeholder="Email" [formControl]="email"  required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="row">
      <mat-form-field class="inputForm">
        <input matInput placeholder="Departamento" [formControl]="departamento" required>
      </mat-form-field>
      <mat-form-field class="inputForm">
        <input matInput placeholder="Celular" [formControl]="celular" required>
      </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="inputForm">
      <input matInput placeholder="Matricula" [formControl]="matricula" required>
    </mat-form-field>
  </div>
</div>
<mat-dialog-actions align="end">
    <button mat-button color="warn" (click)="delUserData()" [mat-dialog-close]="data">Deletar</button>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="updateUserData()" [mat-dialog-close]="data">Salvar</button>
</mat-dialog-actions>