<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-dark lighten-1">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/painel">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown" dropdown (onShown)="onShown()" (onHidden)="onHidden()"
        (isOpenChange)="isOpenChange()">
        <a class="nav-link dropdown-toggle" href id="basic-link" dropdownToggle (click)="false"
          aria-controls="basic-link-dropdown">Conta</a>
        <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right navbar-login">
          <a>Bem Vindo {{user}}</a>
          <a class="dropdown-item" href="#">Sair</a>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->

<router-outlet></router-outlet>
